.imageContainer {
  margin: 10px;
  width: 60px;
  height: 60px;
}
.thumbnail {
  margin: 5px;
  border-radius: 8px;
  width: 215px;
  height: 150px;
  cursor: pointer;
}
.popup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.popup-content {
  background-color: #ffffff;
  width: 750px;
  height: 460px;
  border-radius: 16px;
}
.closeButton {
  outline: none;
  cursor: pointer;
  align-self: flex-end;
  border: none;
  width: 28px;
  height: 28px;
  background-color: transparent;
}
.trigger-button {
  padding: 8px 15px 8px 15px;
  margin: 8px;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}
.popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
}
.responsive-container {
  margin-top: 12px;
  margin-bottom: 48px;
  margin-left: 48px;
  margin-right: 48px;
}
.list-item {
  list-style-type: none;
}

