.primeContainer {
  padding-bottom: 32px;
  min-height: 100vh;
  background-color: black;
}
.prime {
  width: 100%;
}
.head {
  color: blue;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: bold;
  margin: 10px;
}
.bottomContainer {
  width: 90%;
  margin: auto;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .bottomContainer {
    max-width: 1110px;
  }
}

